/*-----------
	Boxes
------------*/
.whiteBox {
	background: #fff;
	color: #333;
	overflow: hidden;
}

.purpleBox {
	background: #306;
	color: #fff;
	overflow: hidden;
}

.roundedBox {
	border-radius: 5px;
	overflow: hidden;
}

.boxShadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	overflow: hidden;
}

.boxGlow {
	box-shadow: 0 0 20px #ff009a;
	box-shadow: 0 0 20px rgba(255,0,154,0.5);
	-webkit-box-shadow: 0 0 20px rgba(255,0,154,0.5);
	-moz-box-shadow: 0 0 20px rgba(255,0,154,0.5);
	-khtml-box-shadow: 0 0 20px rgba(255,0,154,0.5);
	-o-box-shadow: 0 0 20px rgba(255,0,154,0.5);
	-ms-box-shadow: 0 0 20px rgba(255,0,154,0.5);
	border: 1px solid #dd0078;
	background: #fff;
	-webkit-transition: background 0.3s ease;
}

.boxGlow:hover {
	background: #306;
	color: #fff;
}

.boxGlow a {
	color: #333;
}

.boxGlow:hover a {
	color: #fff;
	background: transparent;
}

	/*-----------
		Box Header and Footer Styles
	------------*/
	.whiteBox .boxHeader,
	.whiteBox .boxFooter {
		background: #306;
	}
	
	.whiteBox .boxHeader,
	.whiteBox .boxFooter,
	.whiteBox .boxHeader h1,
	.whiteBox .boxHeader .h1,
	.whiteBox .boxHeader h2,
	.whiteBox .boxHeader .h2,
	.whiteBox .boxHeader h3,
	.whiteBox .boxHeader .h3,
	.whiteBox .boxHeader h4,
	.whiteBox .boxHeader .h4,
	.whiteBox .boxHeader h5,
	.whiteBox .boxHeader .h5,
	.whiteBox .boxHeader h6,
	.whiteBox .boxHeader .h6 {
		color: #fff;
	}
	
	.purpleBox .boxHeader,
	.purpleBox .boxFooter {
		background: #fff;
		color: #333;
	}
	
	.purpleBox .boxHeader h1,
	.purpleBox .boxHeader .h1,
	.purpleBox .boxHeader h2,
	.purpleBox .boxHeader .h2,
	.purpleBox .boxHeader h3,
	.purpleBox .boxHeader .h3,
	.purpleBox .boxHeader h4,
	.purpleBox .boxHeader .h4,
	.purpleBox .boxHeader h5,
	.purpleBox .boxHeader .h5,
	.purpleBox .boxHeader h6,
	.purpleBox .boxHeader .h6 {
		color: #306;
	}
	
	.boxGlow .boxHeader,
	.boxGlow .boxFooter {
		color: #fff;
		background: #ff009a;
	}
	
	.boxGlow .boxHeader *,
	.boxGlow .boxFooter * {
		color: #fff;
	}