.debug .page,
.debug .leftCol,
.debug .rightCol,
.debug .main {
    background: rgba(255, 0, 0, 0.1);
}

.debug h1,
.debug h2,
.debug h3,
.debug h4,
.debug h5 {
    outline: 1px solid rgba(0, 255, 0, 0.5);
}

.debug .media {
    background: rgba(0, 0, 255, 0.1);
}