.btn {
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  border: 1px solid #d371a2;
  padding: 3px 10px;
  display: inline-block;
  vertical-align: center;
  background-color: #eb80b5;
  background: linear-gradient(to bottom, #eb80b5, #ef308f);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  line-height: 24px;
  margin-left: 20px;
}

.btn:hover, .btn:focus, .cbtn:hover, .cbtn:focus {
  text-decoration: none;
  border: 1px solid #333;
  outline: none;
}

.btn:active,
.cbtn:active {
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
  border: 1px solid #d371a2;
}

.btn[type="submit"] {
  margin-left: 5px;
}

.btn_lrg {
  margin-top: 5px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 15px 8px;
  border: 1px solid #684090;
  background-color: #8e5dbf;
  background: linear-gradient(to bottom, #8e5dbf, #3e126a);
  color: white;
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
  line-height: 26px;
}

.btn_lrg .icn_mag {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url(../images/apiMag.png) center no-repeat;
  margin: 6px 10px 0 0;
}

.btn_lrg:active {
  border: 1px solid #684090;
}

.cbtn {
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  border: 1px solid #d371a2;
  padding: 3px 10px 5px;
  display: inline-block;
  vertical-align: center;
  background-color: #eb80b5;
  background: linear-gradient(to bottom, #eb80b5, #ef308f);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
  line-height: 17px;
  float: left;
  margin-top: 10px;
}

.cbtn .icn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.cbtn:hover {
  text-decoration: none;
}
