.tbl {
  width: 100%;
  background: white;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  text-transform: none;
}

.tbl thead {
  border-radius: 5px 5px 0 0;
}

.tbl thead tr {
  background-color: $secondary-color;
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
}

.tbl thead th {
  padding: .5rem .5rem .6rem;
  color: #fff;
  border-left: 1px solid $secondary-color;
  font-family: $secondary-header-font-family;
  font-weight: 500;
}

.tbl thead th:first-child {
  border-left: none;
}

.tbl tbody {
  border: 1px solid $secondary-color;
  border-top: none;
}

.tbl tbody td {
  padding: 5px;
  font-size: 14px;
  border-left: 1px solid $secondary-color;
}

.tbl tbody td:first-child {
  border-left: none;
}

tr:nth-child(even) {
  background: transparentize($secondary-color, .9);
}

// Add border-radius to the corner cells
.tbl thead th:last-child {
  border-top-right-radius: 5px;
}

.tbl thead th:first-child {
  border-top-left-radius: 5px;
}

.tbl tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.tbl tbody tr:first-child td:first-child {
  border-bottom-left-radius: 5px;
}
