.demo-panel {
  margin-bottom: 1.5rem;
  box-sizing: content-box;
  max-width: 1000px !important;
}

.demo-panel header {
  height: auto !important;
}

.demo-panel header:before,
.demo-panel header:after {
  content: " ";
  display: table;
}

.demo-panel header:after {
  clear: both;
}

.demo-panel header h1 {
  margin-top: 0.25rem !important;
}

.vlwdgt .sy-slides-wrap,
.vlwdgt .sy-slides-crop {
  width: 100% !important;
}

.vlwdgt .sy-slides-crop {
  overflow: auto !important;

  @media only screen and (min-width: 700px) {
    overflow: hidden !important;
  }
}

.demandtoggle,
.primetoggle,
.gotosuggestions {
  line-height: 1.1;
  float: left;
  margin-top: -9px !important;
  padding: 10px 15px;
  font-size: 16px;
}

.demo-voila-episodes {
  @media only screen and (min-width: 700px) {
    height: 387px;
  }
}

.demo-voila {
  @media only screen and (min-width: 700px) {
    height: 387px;
  }
}

.demo-voila-people {
  @media only screen and (min-width: 700px) {
    height: 555px;
  }
}
