.feature-well {
  margin-top: 0;
  border-radius: 0 0 5px 5px;

  p:first-child {
    margin: 0;
  }
}

.feature-block {
  display: block;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
  background-color: #fff;
  background-repeat: no-repeat;
}

.feature-block-audiences {
  padding-left: 100px;
  background-image: url(../img/feature-block-audiences.png);
  background-position: left bottom;
}

.feature-block-platforms {
  padding-right: 100px;
  background-image: url(../img/feature-block-platforms.png);
  background-position: right bottom;
}

.feature-block-developers {
  padding-left: 100px;
  background-image: url(../img/feature-block-developers.png);
  background-position: left bottom;
}

.feature-block-compliance {
  padding-right: 100px;
  background-image: url(../img/feature-block-compliance.png);
  background-position: right bottom;
}

.feature-block-heading {
  margin: 0;
  color: $secondary-color;
}

.feature-block-text {
  margin: 0;
  font-size: 0.9rem;
  color: $primary-text-color;
}
