.section {
  padding: 1.5rem 0;
}

.section-alt {
  background: #eae5ef url('../img/section-alt-bg.png') 0 0 repeat;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
}

.section-home {
  padding-top: 0;

  @media only screen and (min-width: 700px) {
    margin-top: 141px;
  }
}
