.sub-header {
  width: 100%;
  border-bottom: 1px solid #306;
  background: #eee;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.3);

  @media only screen and (min-width: 700px) {
    position: fixed;
    top: 100px;
    z-index: 1400;
  }
}

.sub-nav {
  float: left;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  text-transform: lowercase;
}

.sub-nav-tools {
  float: right;
}

.sub-nav > li {
  float: left;
  font-weight: 400;
  font: 16px 'Raleway', sans-serif;

  @media only screen and (min-width: 700px) {
    font-size: 18px
  }
}

.sub-nav a {
  padding: 5px;
  display: block;
  color: #306;
  text-decoration: none;

  @media only screen and (min-width: 700px) {
    padding: 10px 14px;
  }
}

.sub-nav a:hover,
.sub-nav a:active,
.sub-nav a:focus {
  color: #ff009a;
}

.sub-nav .selected a {
  color: #ff009a;
  background: url(../img/selected.gif) center bottom no-repeat;
}

// Hidden so nav highlighting works as expected
.sub-nav-home {
  display: none;
}

.has-dropdown {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  width: 200px;
  left: 50%;
  top: 100%;
  margin-left: -100px;
  border: 1px solid $primary-color;
  background: #eee;
  border-radius: 5px;
  padding: 0.75rem 0;
}

.dropdown:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $primary-color;
  border-width: 10px;
  margin-left: -10px;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selected .dropdown a {
  color: #306;
}

.dropdown .selected a {
  color: #ff009a;
}

.selected .dropdown a,
.dropdown .selected a {
  background: none;
}

.has-dropdown:hover .dropdown,
.has-dropdown:active .dropdown,
.has-dropdown:focus .dropdown {
  display: block;
}

.hide-dropdown,
.has-dropdown:hover .hide-dropdown,
.has-dropdown:active .hide-dropdown,
.has-dropdown:focus .hide-dropdown {
  display: none;
}

.navbar-user {
  position: relative;
}

.profile-picture {
  float: right;
  width: 25px;
  height: 25px;
  margin: 6px 0 0 8px;
  border-radius: 50%;
}

.user-avatar {
  display: block;
  padding-right: 6px;
}

.user-name {
  float: left;
  margin: 9px 0 0;
  font-size: 14px;
}

.navbar-login {
  text-transform: lowercase;
  display: inline-block;
  background: $primary-color;
  color: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
}

.navbar-login:hover,
.navbar-login:active,
.navbar-login:focus {
  background: $secondary-color;
  color: #fff;
}

.loginWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1600;
}

.loginHolder {
  width: 520px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -150px;
  margin-left: -275px;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  text-align: center;
}

.signInBtn {
  border-radius: 6px;
  color: #fff;
  width: 260px;
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  padding: 10px 0px 10px 61px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: none;
  margin: 0 auto 20px;
}

.signInBtn:hover {
  text-decoration: none;
  color: #fff;
}

.unit .signInBtn {
  margin-right: 10px;
}

.lastUnit .signInBtn {
  margin-right: 0;
  margin-left: 10px;
}

.signInBtn .fa {
  border-right: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 32px;
  width: 45px;
  line-height: 45px;
}

.btn-github {
  background-color: #444;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-twitter {
  background-color: #55ACEE;
}

