.ui-tabs-panel {
  display: none;
}

.ui-tabs-panel:first-child {
  display: block;
}

.ui-tabs-horizontal .ui-tabs-nav {
  background: #e2e2e2;
  float: left;
  border-radius: 5px 5px 0 0;
  height: 40px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
}

.ui-tabs-horizontal .ui-tabs-nav li {
  float: left;
}

.ui-tabs-horizontal .ui-tabs-link {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  color: #333;
  display: block;
}

.ui-tabs-horizontal li:first-child .ui-tabs-link {
  border-radius: 5px 0 0 0;
}

.ui-tabs-horizontal li:last-child .ui-tabs-link {
  border-radius: 0 5px 0 0;
}

.ui-tabs-horizontal li .ui-tabs-link:hover {
  text-decoration: none;
  color: #ef308f;
}

.ui-tabs-horizontal .ui-tabs-active-link {
  background: #fff;
  color: #ef308f;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.ui-tabs-horizontal .ui-tabs-panel {
  clear: both;
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  padding: 10px;
  position: relative;
}

.ui-tabs-vertical .ui-tabs-active-link {
  background: $primary-color;
  color: #fff;
  text-shadow: none;
}

.ui-tabs-link:hover,
.ui-tabs-link:active,
.ui-tabs-link:focus,
.ui-tabs-active-link {
  background: $primary-color;
  color: #fff;
}
