.tour-section {
  position: relative;
  display: block;
  clear: both;
  background: #efefef;
  border: 1px solid #e7e5e5;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.tour-section-inner {
  margin: 10px;
  height: 475px;
}

.tour-section .text-box {
  background: rgba(255,255,255,0.8);
  padding: 20px 40px;

  @media only screen and (min-width: 700px) {
    width: 358px;
  }
}

.tour-section.everyone .tour-section-inner {
  background-image: url(../img/tour-everyone.jpg);
}

.tour-section.everyone .text-box {
  padding: 104px 40px;

  @media only screen and (min-width: 700px) {
    float: right;
  }
}

.tour-section.recommendations .tour-section-inner {
  background-image: url(../img/tour-recommend.jpg);
}

.tour-section.recommendations .text-box {
  padding: 104px 40px;

  @media only screen and (min-width: 700px) {
    float: left;
  }
}

.tour-section.social .tour-section-inner {
  background-image: url(../img/tour-social.jpg);
}

.tour-section.social .text-box {
  padding: 104px 40px;

  @media only screen and (min-width: 700px) {
    float: right;
  }
}

.tour-section.watchlist .tour-section-inner {
  background-image: url(../img/tour-watchlist.jpg);
}

.tour-section.watchlist .text-box {
  padding: 144px 40px;

  @media only screen and (min-width: 700px) {
    float: left;
  }
}

.tour-section.stars .tour-section-inner {
  background-image: url(../img/tour-stars.jpg);
}

.tour-section.stars .text-box {
  padding: 144px 40px;

  @media only screen and (min-width: 700px) {
    float: right;
  }
}

.tour-section.buzz .tour-section-inner {
  background-image: url(../img/tour-buzz.jpg);
}

.tour-section.buzz .text-box {
  padding: 144px 40px;

  @media only screen and (min-width: 700px) {
    float: left;
  }
}

.tour-slideshow {
  position: relative;
}
