<template id="about-template">
  <div class="container">
    <h1>About <small>how we got here</small></h1>
    <div class="row">
      <div class="split">
        <p>MetaBroadcast was founded in 2007 around a vision of Simple Social Broadcasting - a realisation that online TV experiences can be enhanced by adding a social dimension. Since then we have learned a lot about the benefits and also the challenges of integrating Social Media and Broadcasting. "Social TV" is now en-vogue, and an integral part of our wider, more practical vision.</p>
        <p>Voila is informed by our work on no less than six separate prototypes:</p>
        <ul>
          <li>in 2008 we built the social media guide, an internal prototype for the bbc</li>
          <li>in 2009 we built test tube telly, a public prototype for channel 4, and amplus, a public prototype for metabroadcast</li>
          <li>in 2010 we built a series of metabroadcast experiments: watch something, gawp, and voteup</li>
        </ul>
        <p>This in-depth experience has taught us how to deliver simple, powerful features on top of todays' rich sources of data, including but not limited to social data</p>
      </div>
    </div>
  </div>
</template>
