<template id="api-docs-template">
  <div class="container">
    <div class="well">
      <h1>api documentation</h1>

      <div class="row ui-tabs">

        <!-- Start navigation -->
        <div class="span-4">
          <nav class="menu ui-tabs-nav">
            <h2>Resources</h2>
            <ul class="unstyled">
            {{#each resources}}
              <li><a class="menu-item ui-tabs-link" href="#api-docs-{{name}}">{{name}}</a></li>
            {{/each}}
            </ul>
            <h2>Types</h2>
            <ul class="unstyled">
            {{#each types}}
              <li><a class="menu-item ui-tabs-link" href="#api-docs-types-{{name}}">{{name}}</a></li>
            {{/each}}
            </ul>
          </nav>
        </div>
        <!-- End navigation -->

        <!-- Start panels -->
        <div class="span-8">

          <!-- Start resources panels -->
          {{#each resources}}
            <div class="ui-tabs-panel pll" id="api-docs-{{name}}">
              <h3>{{name}}</h3>
              {{#if description}}
                <h4>Description</h4>
                <p>{{description}}</p>
              {{/if}}
              <h4>Resources</h4>
              {{#each operations}}
                <pre><code>{{method}} {{root_path}}{{path}}</code></pre>
              {{/each}}
              <h4>Status</h4>
              <p>Current service level: {{service_level}}</p>
              <h4>Example response</h4>
              <div class="api-docs-example-response clearfix"></div>
              <h4>Parameters</h4>
              <table class="tbl">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each parameters}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{type}}</td>
                      <td>{{description}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <h4>Available annotations</h4>
              <table class="tbl">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type added to the response</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each annotations}}
                    <tr>
                      <td>{{name}}</td>
                      <td>
                        {{#if type}}
                          <a class="api-docs-types-link" href="#api-docs-types-{{type}} %>">{{type}}</a>
                        {{/if}}
                      </td>
                      <td>{{description}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="api-docs-response"></div>
              <h4>Error messages</h4>
              <table class="tbl">
                <thead>
                  <tr>
                    <th>Status code</th>
                    <th>Error code</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each error_messages}}
                    <tr>
                      <td>{{status_code}}</td>
                      <td>{{error_code}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          {{/each}}
          <!-- End resources panels -->

          <!-- Start types panels -->
          {{#each types}}
            <div class="ui-tabs-panel pll" id="api-docs-types-{{name}}">
              <h3>{{name}}</h3>
              {{#if description}}
                <h4>Description</h4>
                <p>{{description}}</p>
              {{/if}}
              <h4>Fields</h4>
              <table class="tbl">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>JSON Type</th>
                    <th>Multiple</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each fields}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{type}}</td>
                      <td>{{json_type}}</td>
                      <td>{{is_multiple}}</td>
                      <td>{{description}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="api-docs-annotations-resource clearfix">
                <h4>Annotation types per resource</h4>
                <table class="tbl">
                  <thead>
                    <tr>
                      <th>Resource</th>
                      <th>Annotation</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each resources}}
                      {{#each annotations}}
                        <tr>
                          <td>{{../../name}}</td>
                          <td>{{name}}</td>
                          <td>{{description}}</td>
                        </tr>
                      {{/each}}
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          {{/each}}
          <!-- End types panels -->

        </div>
        <!-- End panels -->
      </div>
    </div>
  </div>
</template>
