<template id="api-docs-response-template">
  <h3>Response reference</h3>

  {{#if description}}
    <p>{{description}}</p>
  {{/if}}

  <table class="tbl">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>JSON Type</th>
        <th>Multiple</th>
      </tr>
    </thead>
    <tbody>
      {{#each type}}
        <tr>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>{{json_type}}</td>
          <td>{{is_multiple}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</template>
