<template id="api-explorer-template">
  <div class="container">
    <ul class="ui-tabs-nav api-explorer-nav unstyled clearfix">
      {{#each this}}
        <li><a class="ui-tabs-link" href="#api-{{name}}">{{name}}</a></li>
      {{/each}}
    </ul>

    <div class="clearfix">
      {{#each this}}
        <div class="ui-tabs-panel" id="api-{{name}}">
          <h2>{{name}}</h2>
          <h3><span class="upper">GET</span> {{root_path}}</h3>
          {{#if description}}
            <p>{{description}}</p>
          {{/if}}
          <p><a class="open-api-docs-tab" href="#api-docs-{{name}}">See documentation</a></p>
          <form class="queryParametersForm" data-endpoint="{{root_path}}">
            <table class="tbl mbm queryTable">
              <thead>
                <tr>
                  <th class="first">Parameter</th>
                  <th class="second">Value</th>
                  <th class="third">Type</th>
                  <th class="fourth">Description</th>
                </tr>
              </thead>
              <tbody>
                {{#each parameters}}
                  <tr class="api-explorer-param-{{name}}" id="{{../name}}-{{name}}-row">
                    <td class="first">{{name}}</td>
                    <td class="second">
                      {{#ifIsArray default_value}}
                        <select class="queryParameter" name="{{name}}">
                          <option value="">Select value</option>
                          {{#each default_value}}
                            <option value="{{default_value}}">{{default_value}}</option>
                          {{/each}}
                        </select>
                      {{else}}
                        <input class="queryParameter" type="text" name="{{name}}" value="{{default_value}}" data-default="{{default_value}}">
                      {{/if}}
                      {{#if name === 'schedules'}}
                        {{#if ../name === 'id'}}
                          <a class="channel-picker-toggle toggle-link" href="#{{name}}-channel-picker">choose channels</a>
                        {{/if}}
                      {{/if}}
                      {{#if name === 'channels'}}
                        {{#if ../name === 'id'}}
                          <a class="channel-picker-toggle toggle-link" href="#{{name}}-channel-picker">choose channel</a>
                        {{/if}}
                      {{/if}}
                      {{#if name === 'channel_groups'}}
                        {{#if ../name === 'id'}}
                          <a class="channel-group-picker-toggle toggle-link" href="#{{name}}-channel-picker">choose channel group</a>
                          <div class="channel-group-picker-container"></div>
                        {{/if}}
                      {{/if}}
                      {{if name === 'annotations'}}
                        <a class="toggle-picker toggle-link" href="#{{name}}-annotations-picker">choose annotations</a>
                      {{/if}}
                    </td>
                    <td class="third">{{type}}</td>
                    <td class="fourth">{{description}}</td>
                  </tr>
                  {{#if name === 'annotations'}}
                    <tr class="hide annotations-picker-row" id="{{name}}-annotations-picker">
                      <td colspan="4" class="annotations-row">
                        <a class="btn toggle-picker mbm" href="#{{name}}-annotations-picker">&times; close</a>
                        <table class="tbl annotations-picker-table">
                          <thead>
                            <tr>
                              <th>Annotation</th>
                              <th>Type added to the response</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each annotations}}
                              <tr>
                                <td>
                                  <label>
                                    <input class="annotation-checkbox" type="checkbox" name="{{name}}">
                                    {{name}}
                                  </label>
                                </td>
                                <td><a class="api-docs-types-link" href="#api-docs-types-{{type}}">{{type}}</a></td>
                                <td>{{description}}</td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <a class="btn toggle-picker" href="#{{name}}-annotations-picker">&times; close</a>
                      </td>
                    </tr>
                  {{/if}}
                {{/each}}
              </tbody>
            </table>
          </form>
          <div class="api-explorer-examples">
            <h4>curl</h4>
            <div class="has-api-key-warning">
              <p><input class="api-explorer-example-curl show-api-key-warning full-width-input js-select-on-click" type="text" name="curl-example" value=""></p>
              <div class="api-key-warning">
                <p>Please use your own key in your app</p>
                <p><a class="getApiKeyBtn btn" href="#">Get Your Free API Key</a></p>
                <p><a class="close-api-key-warning" href="#">I'm still playing</a></p>
              </div>
            </div>
            <h4>AJAX (with jQuery)</h4>
            <div class="has-api-key-warning">
              <pre class="api-explorer-example-ajax code-example js-select-on-click show-api-key-warning"></pre>
              <div class="api-key-warning">
                <p>Please use your own key in your app</p>
                <p><a class="getApiKeyBtn btn" href="#">Get Your Free API Key</a></p>
                <p><a class="close-api-key-warning" href="#">I'm still playing</a></p>
              </div>
            </div>
            <h4>Request</h4>
            <form class="queryForm mbl has-api-key-warning">
              <input class="queryUrl show-api-key-warning js-select-on-click" type="text" name="query-url">
              <button class="btn" type="submit">Go</button>
              <div class="api-key-warning">
                <p>Please use your own key in your app</p>
                <p><a class="getApiKeyBtn btn" href="#">Get Your Free API Key</a></p>
                <p><a class="close-api-key-warning" href="#">I'm still playing</a></p>
              </div>
            </form>
            <h4>Response</h4>
            <div class="queryResponse">
              <pre class="jsonOutput"></pre>
            </div>
            <h4>...or start experimenting with an existing API call</h4>
            <form class="user-query-form mbl">
              <input class="user-query-url js-select-on-click" type="text" name="user-query-url" value="">
              <button class="btn" type="submit">Go</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</template>
