<a class="user-menu-link" href="#">Apps</a>
<ul class="apps-dropdown submenu dropdown-menu-large">
  <% if (this.applications.length) { %>
    <% for (var i = 0; i < 3; i++) { %>
      <li class="application-link">
        <a href="/admin?#/applications/<%= this.applications[i].id %>">
          <%= this.applications[i].title %>
        </a>
      </li>
    <% } %>
    <li class="menu-separator"></li>
  <% } %>
  <li><a href="/admin?#/applications">All applications&hellip;</a></li>
  <li><a href="/admin?#/wishlist">Wishlist</a></li>
</ul>
