<template id="case-study-template">
  <div class="container">
    <h1>Case Studies <small>of Voila implementations</small></h1>
    <div class="tabs">
      <ul class="tabs-nav clearfix">
        <li class="tab"><a href="#tab1"><img src="/img/bt.png" alt="BT"></a></li>
        <li class="tab"><a href="#tab2"><img src="/img/radiotimes.png" alt="RadioTimes" width="93"></a></li>
      </ul>
      <div class="tab-panel" id="tab1">
        <div class="bt-tv-slideshow slideshow-wrapper">
          <ul class="slides">
            <li><img src="/img/case-studies/bt-tv/01.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/02.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/03.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/04.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/05.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/06.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/07.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/08.jpg" alt="" height="618"></li>
            <li><img src="/img/case-studies/bt-tv/09.jpg" alt="" height="618"></li>
          </ul>
        </div>
      </div>
      <div class="tab-panel" id="tab2">
        <div class="radiotimes-slideshow slideshow-wrapper">
          <ul class="slides">
            <li><img src="/img/case-studies/radiotimes/01.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/02.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/03.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/04.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/05.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/06.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/07.jpg" alt="" height="518"></li>
            <li><img src="/img/case-studies/radiotimes/08.jpg" alt="" height="518"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
