<script id="examples-template" type="text/x-handlebars-template">
  <div class="container">
    <div class="well">
      <h1>Examples</h1>
      <div class="example-call">
        <a class="example-call-link" href="https://atlas.metabroadcast.com/4/content.json?limit=5&annotations=description,broadcasts&q=dr%20who&key=c1e92985ec124202b7f07140bcde6e3f">https://atlas.metabroadcast.com/4/content.json?limit=5&annotations=description,broadcasts&q=dr%20who&key=c1e92985ec124202b7f07140bcde6e3f</a>
        <h3 class="example-call-description">search for the <span class="tooltip" data-title="Title" data-text="Search for brand, series and one-off pieces of content. Can't be used with genre">title</span> of some content</h3>
      </div>
      <div class="example-call">
        <a class="example-call-link" href="https://atlas.metabroadcast.com/4/content/x5vpb.json?source=pressassociation.com&annotations=description&key=c1e92985ec124202b7f07140bcde6e3f">https://atlas.metabroadcast.com/4/content/x5vpb.json?source=pressassociation.com&annotations=description&key=c1e92985ec124202b7f07140bcde6e3f</a>
        <h3 class="example-call-description">get information about a certain piece of content</h3>
      </div>
      <div class="example-call">
        <a class="example-call-link" href="https://atlas.metabroadcast.com/4/schedules/hkqs.json?from=now&to=now.plus.24h&source=pressassociation.com&annotations=channel&key=c1e92985ec124202b7f07140bcde6e3f">https://atlas.metabroadcast.com/4/schedules/hkqs.json?from=now&to=now.plus.24h&source=pressassociation.com&annotations=channel&key=c1e92985ec124202b7f07140bcde6e3f</a>
        <h3 class="example-call-description">search for everything <span class="tooltip" data-title="From" data-text="The beginning of a schedule period.">from</span> now <span class="tooltip" data-title="To" data-text="The end of a schedule period.">to</span> tomorrow on <span class="tooltip" data-title="Channel" data-text="The channel that the content was broadcast on eg. bbcone, bbctwo etc.">bbc one</span></h3>
      </div>
    </div>
  </div>
</script>
