<template id="features-template">
  <div class="container">
    <div class="well">
      <h1>Features <small>in more detail</small></h1>
      <h2 id="features-audiences">for <em>Audiences</em> <small>Discover and keep track of favourite shows and personalities</small></h2>
      <div class="row">
        <div class="split">
          <ul>
            <li>Common-sense recommendations</li>
            <li>Personalised schedules</li>
            <li>On-demand watchlists</li>
            <li>Personality tracking</li>
            <li>Live buzz and most-popular charts</li>
            <li>Social recommendations</li>
          </ul>
        </div>
        <div class="split">
          <ul>
            <li>Alerts (e.g., email, SMS, social networks)</li>
            <li>Search</li>
            <li>Classic EPGs</li>
            <li>Works across TV, Radio and Film</li>
            <li>Links to other on-demand platforms (e.g., iTunes, broadcasters)</li>
            <li>Log in with social networks and existing accounts</li>
          </ul>
        </div>
      </div>
      <h2 id="features-platforms">for <em>Platforms</em> &amp; <em>Broadcasters</em> <small>Use existing product and platform data to extend user journeys, drive login and broaden usage</small></h2>
      <div class="row">
        <div class="split">
          <ul>
            <li>Tune editorial recommendations to individual tastes</li>
            <li>Automatically optimise prominent parts of your product to meet commercial or public service objectives</li>
            <li>Use data about your shows from Twitter and Facebook to improve experience</li>
          </ul>
        </div>
        <div class="split">
          <ul>
            <li>Use data on Facebook and Twitter about competitor’s shows and platforms to market your own content</li>
            <li>Send alerts to reactivate audiences</li>
            <li>Link between ondemand and live schedules</li>
            <li>Aggregate content from multiple broadcasters</li>
          </ul>
        </div>
      </div>
      <h2 id="features-developers">for <em>Developers</em> <small>Zero-hassle Software as a Service, with a simple RESTful API</small></h2>
      <div class="row">
        <div class="split">
          <ul>
            <li>Delivered via simple RESTful API</li>
            <li>Uses existing metadata feeds (including major international platforms, all major UK broadcasters and VOD platforms, via <a href="http://atlasapi.org/">Atlas</a>)</li>
            <li>Provided on a managed SaaS basis, with rigorous SLAs</li>
            <li>Tried and tested in existing major products</li>
          </ul>
        </div>
        <div class="split">
          <ul>
            <li>Designed for easy caching - calls can be customised to exclude uncachable components</li>
            <li>Most calls return inside 100ms, allowing easy page assembly</li>
            <li>Serious technology stack: Java, Hadoop, MongoDB, Linux</li>
            <li>Hosted on Amazon Web Services for quick, effortless scaling</li>
          </ul>
        </div>
      </div>
      <h2 id="features-compliance">for <em>Compliance</em> <small>Data ownership doesn't change. Works with existing T&amp;Cs, everything is stored and processed in the EU</small></h2>
      <div class="row">
        <div class="split">
          <ul>
            <li>Hosted with Amazon Web Services, exclusively in EU data centres</li>
            <li>No change of data ownership - we process data on your behalf</li>
            <li>Full information security policy, approved by top UK broadcasters</li>
          </ul>
        </div>
        <div class="split">
          <ul>
            <li>Detailed disaster recovery plans</li>
            <li>Fully insured</li>
            <li>Software escrow available</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
