<script id="header-template" type="text/x-handlebars-template">
  <div class="container">

      <a class="site-logo" href="https://metabroadcast.com"><img src="/img/logo.png" alt="MetaBroadcast"></a>
    <ul class="site-nav">
      <li class="nav-atlas">

          <a href="https://atlas.metabroadcast.com">atlas</a>
      </li>
      <li class="nav-voila">

          <a href="http://voila.metabroadcast.com">voila</a>
      </li>
      <li><a href="https://metabroadcast.com/jobs">jobs</a></li>
      <li><a href="https://metabroadcast.com/contact">contact</a></li>
    </ul>
  </div>
</script>
