<template id="home-template">
  <div class="container">
    <div class="row">
      <div class="split">
        <h1>Helping millions find TV, radio and music quicker</h1>
        <ul>
          <li><span class="highlight">many sources, single view</span> across epg providers, broadcasters, tv, ott platforms, open data</li>
          <li><span class="highlight">rich data</span> schedules, vod availability, deep links, descriptions, images, people, music, sports, topics, news links and demographics</li>
          <li><span class="highlight">fast apis</span> for listings, episode guides, search, more</li>
          <li><span class="highlight">simple widgets</span> for websites and apps</li>
          <li><span class="highlight">access control</span> to preseve your advantage</li>
          <li><span class="highlight">specialist feeds</span> to google, microsoft, tv anytime platforms, more</li>
          <li><span class="highlight">open source</span> with free api keys</li>
          <li><span class="highlight">full support</span> comprehensive sla provided by metabroadcast</li>
        </ul>
      </div>
      <div class="split">
        <div class="well well-condensed">
          <div class="widget-wrapper">
            <div class="carousel-widget-container carousel-widget-container-empty" id="carousel-widget-container"></div>
            <div class="fullscreen-widget-container fullscreen-container clearfix" id="fullscreen-widget-container">
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
              <div class="widget-panel-container"><div class="widget-panel-inner"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ol class="client-list clearfix">
      <li><i class="client-logo amazon-prime-instant-video-logo"></i></li>
      <li><i class="client-logo android-logo"></i></li>
      <li><i class="client-logo apple-logo"></i></li>
      <li><i class="client-logo barb-logo"></i></li>
      <li><i class="client-logo bbc-logo"></i></li>
      <li><i class="client-logo belfast-telegraph-logo"></i></li>
      <li><i class="client-logo bloomberg-logo"></i></li>
      <li><i class="client-logo bt-logo"></i></li>
      <li><i class="client-logo channel4-logo"></i></li>
      <li><i class="client-logo channel5-logo"></i></li>
      <li><i class="client-logo daily-mail-logo"></i></li>
      <li><i class="client-logo echonest-logo"></i></li>
      <li><i class="client-logo ericsson-logo"></i></li>
      <li><i class="client-logo daily-express-logo"></i></li>
      <li><i class="client-logo facebook-logo"></i></li>
      <li><i class="client-logo flickr-logo"></i></li>
      <li><i class="client-logo getty-images-logo"></i></li>
      <li><i class="client-logo global-radio-logo"></i></li>
      <li><i class="client-logo google-logo"></i></li>
      <li><i class="client-logo gracenote-logo"></i></li>
      <li><i class="client-logo insidesoap-logo"></i></li>
      <li><i class="client-logo irish-independent-logo"></i></li>
      <li><i class="client-logo itv-logo"></i></li>
      <li><i class="client-logo iva-logo"></i></li>
      <li><i class="client-logo knowledgemotion-logo"></i></li>
      <li><i class="client-logo lionsgate-logo"></i></li>
      <li><i class="client-logo msn-logo"></i></li>
      <li><i class="client-logo musicbrainz-logo"></i></li>
      <li><i class="client-logo netflix-logo"></i></li>
      <li><i class="client-logo opta-logo"></i></li>
      <li><i class="client-logo pagesuite-logo"></i></li>
      <li><i class="client-logo the-platform-logo"></i></li>
      <li><i class="client-logo press-association-logo"></i></li>
      <li><i class="client-logo radioplayer-logo"></i></li>
      <li><i class="client-logo radio-times-logo"></i></li>
      <li><i class="client-logo rdio-logo"></i></li>
      <li><i class="client-logo rightster-logo"></i></li>
      <li><i class="client-logo rovi-logo"></i></li>
      <li><i class="client-logo rte-logo"></i></li>
      <li><i class="client-logo soundcloud-logo"></i></li>
      <li><i class="client-logo the-space-logo"></i></li>
      <li><i class="client-logo spotify-logo"></i></li>
      <li><i class="client-logo the-sun-logo"></i></li>
      <li><i class="client-logo talktalk-logo"></i></li>
      <li><i class="client-logo ted-logo"></i></li>
      <li><i class="client-logo tv-choice-logo"></i></li>
      <li><i class="client-logo tvdb-logo"></i></li>
      <li><i class="client-logo twitter-logo"></i></li>
      <li><i class="client-logo uktv-logo"></i></li>
      <li><i class="client-logo universal-logo"></i></li>
      <li><i class="client-logo vimeo-logo"></i></li>
      <li><i class="client-logo wikipedia-logo"></i></li>
      <li><i class="client-logo xbox-logo"></i></li>
      <li><i class="client-logo youview-logo"></i></li>
      <li><i class="client-logo youtube-logo"></i></li>
    </ol>
  </div>
</template>
