<div class="navbar-user logged-in has-submenu">
  <a class="user-menu-link user-avatar" href="#">
    <span class="user-name"><%= this.attributes.mail %></span>
  </a>
  <ul class="user-dropdown-menu submenu">
    <li><a href="/admin?#/terms">terms of use</a></li>
    <li><a class="logout" href="/admin?#/logout">log out</a></li>
  </ul>
</div>
