<script id="sub-header-template" type="text/x-handlebars-template">
  <div class="container">
    <ul class="sub-nav clearfix">
      <li class="sub-nav-home"><a href="#home">Home</a></li>
      <li><a href="/#widgets">Widgets</a></li>
      <li><a href="/#examples">Examples</a></li>
      <li class="has-dropdown">
        <a href="/#reference">Reference</a>
        <div class="dropdown">
          <ul>
            <li><a href="/#reference-overview">Overview</a></li>
            <li><a href="/#reference-data-model">Data model</a></li>
            <li><a href="/#reference-sources">Sources</a></li>
            <li><a href="/#reference-feeds">Feeds</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/#about">About</a></li>
      <li class="has-dropdown">
        <a href="/api-docs">Docs</a>
        <div class="dropdown">
          <ul>
            <li><a href="/api-docs/#api-docs-channels">Channels</a></li>
            <li><a href="/api-docs/#api-docs-topics">Topics</a></li>
            <li><a href="/api-docs/#api-docs-schedules">Schedules</a></li>
            <li><a href="/api-docs/#api-docs-content">Content</a></li>
            <li><a href="/api-docs/#api-docs-channel_groups">Channel_groups</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="sub-nav-tools">
      <div class="navbar-tools" id="navbar-tools"></div>
    </div>
    <a class="api-explorer-btn" href="/api-docs#apiExplorer">
      <span class="icon-search"></span> api explorer &amp; free key</a>
  </div>
</script>
