<template id="sub-header-template">
  <div class="container">
    <ul class="sub-nav clearfix">
      <li><a href="#widgets">Widgets</a></li>
      <li><a href="#examples">Examples</a></li>
      <li class="has-dropdown">
        <a href="#reference">Reference</a>
        <div class="dropdown">
          <ul>
            <li><a href="#reference-overview">Overview</a></li>
            <li><a href="#reference-data-model">Data model</a></li>
            <li><a href="#reference-sources">Sources</a></li>
            <li><a href="#reference-feeds">Feeds</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
</template>
