<template id="tour-template">
  <div class="container">
    <h1>Tour <small>of Voila features</small></h1>
    <div class="tour-slideshow">
      <ul class="slides">
        <li>
          <div class="tour-section everyone" id="everyone">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>A Different Product for <em>Everyone</em></h3>
                <p>Optimise your product for views, loyalty and revenue, using data languishing in server logs and analytics systems.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="tour-section recommendations" id="recommendations">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>Common Sense <em>Recommendations</em></h3>
                <p>An intelligent mix of editorial picks and automated personalisation, getting people to the right content fast.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="tour-section social" id="social">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>Practical Social Media <em>Integration</em></h3>
                <p>Kick-start personalisation by recapturing like and tweet data about your shows, and those of your competitors.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="tour-section watchlist" id="watchlists">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>Personal <em>Watchlists</em></h3>
                <p>Subscribe to favourite shows to get a personal schedule and on demand playlist.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="tour-section stars" id="stars">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>Track The <em>Stars</em></h3>
                <p>Follow actors, directors and presenters to find out when they're next on.</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="tour-section buzz" id="buzz">
            <div class="tour-section-inner">
              <div class="text-box">
                <h3>Real-time <em>Buzz</em></h3>
                <p>New series? Big news story? The hottest shows rise to the top.</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
