/* reset */
            html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

            /* slightly enhanced, universal clearfix hack */
            .clearfix:after {
                 visibility: hidden;
                 display: block;
                 font-size: 0;
                 content: " ";
                 clear: both;
                 height: 0;
                 }
            .clearfix { display: inline-block; }
            /* start commented backslash hack \*/
            * html .clearfix { height: 1%; }
            .clearfix { display: block; }
            /* close commented backslash hack */
                        
			body {color: #222; font-family: "Molengo", Arial, sans-serif; text-align: center; text-transform: lowercase;}
			
			.page {margin: 0 auto; text-align: left; width: 960px; padding: 0; background: #efefef; border-left: 1px solid #e7e5e5; border-right: 1px solid #e7e5e5;}
			
			header {
                position: fixed;
                top:0;
                left: 0;
                right: 0;
                background: rgba(239,239,239,0.95);
                z-index: 10;
                padding: 10px 10px 0;
                display: block;
                -webkit-box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;
                -moz-box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;
                -o-box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;
                -khtml-box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;
                -ms-box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;
                box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2) !important;                
                text-align: center;}
			header .content {margin: 0 auto; text-align: left; width: 940px;}
			
			section {padding: 10px 10px 80px; position: relative;}
			section .marker {position: absolute; top: -80px; height: 0; width: 0;}
			
			.home {padding: 75px 0;}
			.homepageInfo {
                font-size: 11px;
                color: #666;
                background: #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
                margin: 0 10px;
                padding: 3px 0;
                margin-bottom: 10px;
            }
			
			article {padding: 0 10px;}
			aside {margin-left: 20px;}
			
			.popOut {
                background: #fff;
                background-image: -moz-linear-gradient(-45deg, #fff, #ffe8f3);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#fff), color-stop(1,#ffe8f3));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#ffe8f3', GradientType=0);
                border: 10px solid #fff;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -o-border-radius: 10px;
                -khtml-border-radius: 10px;
                -ms-border-radius: 10px;
                border-radius: 10px;
                padding: 10px;
                margin: 0 10px;
            }
			
			h1,h2,h3,h4,h5,h6 {margin-bottom: 20px; text-shadow: 0 1px 0 #fff;}
			h1 {font-size: 31px;}
			h2 {font-size: 24px; color: #380b66;}
			h3 {font-size: 18px; font-style: italic;}
			h4 {font-size: 16px; color:#ef308f; font-style: italic;}
			h5 {font-size: 14px; font-style: italic;}
			h6 {font-size: 12px;}
			
			.popOut h3 {
                font-style: normal;
                color: #380b66;
			}
			
			p {font-size: 12px; line-height: 18px; margin-bottom: 20px;}
			a {text-decoration: none; color: #380b66; text-shadow: 0 1px 0 #fff;}
			a:hover {text-decoration: underline;}
			a.api {padding-right: 10px;}
			a.api:hover {background: url(images/sml_mag.gif) right 70% no-repeat;}
			
			.query {text-transform: none;}
			
			.faded {color: #666; font-style: italic;}
			mark {color: #ef308f; background: 0 none;}
			
			pre {
                background: #fff;
                margin-bottom: 20px;
                padding: 20px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -khtml-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -khtml-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                color: #000;
                overflow-x: auto;
            }
			
			.logo {text-indent: -9999px; background: url(images/logo.png) center no-repeat; width: 100px; height: 46px; float: left; margin: 2px 0 0;}
			
			/* Lists */
			.list {list-style-type: none; font-size: 12px; line-height: 18px;}
			.list li {margin-bottom: 10px;padding-left: 20px; background:url(images/bullet.gif) 0 7px no-repeat;}
			
			nav {float: left; margin-left: 10px;}
			.mainMenu {list-style-type: none; font-size: 18px; margin-top: 26px; line-height: 30px; float: left; }
			.mainMenu li {float: left; border-right: 1px solid #ddd; border-left: 1px solid #fff;}
			.mainMenu li:first-child {border-left: 0 none;}
			.mainMenu li:last-child {border-right: 0 none;}
			.mainMenu li a {color: #333; padding: 0 10px 5px;}
			.mainMenu li a:hover {color: #ef308f; text-decoration: none;}
			.mainMenu li a.selected {color: #ef308f; background: url(images/selected.gif) bottom center no-repeat;}
			
			.tabs {background: #e2e2e2; float: left; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; height: 40px;}
			.tabs li {float: left;}
			.tabs li a {font-size: 18px; line-height: 40px; height: 40px; padding: 0 30px; color: #333; display: block;}
			.tabs li:first-child a {-moz-border-radius: 5px 0 0 0; -o-border-radius: 5px 0 0 0; -khtml-border-radius: 5px 0 0 0; -ms-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}
			.tabs li:last-child a {-moz-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; -khtml-border-radius: 0 5px 0 0; -ms-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}
			.tabs li a:hover {text-decoration: none; color: #ef308f;}
			.tabs li.selected a {background: #fff; color: #ef308f; text-shadow: 0 1px 2px rgba(0,0,0,0.2);
			     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -khtml-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                box-shadow: 0 1px 2px rgba(0,0,0,0.4);
            }
            .tabExt {
                float: right;
                color: #fff;
                background: #b5a7c4;
                height: 20px;
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                line-height: 20px;
                display: block;
                font-size: 14px;
                padding: 5px 15px;
                -moz-border-radius: 5px 5px 0 0;
                -o-border-radius: 5px 5px 0 0;
                -khtml-border-radius: 5px 5px 0 0;
                -ms-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
                margin-top: 10px;
            }
			
			.tabArea {
                clear: both;
                background: #fff;
                -moz-border-radius: 0 0 5px 5px;
                -o-border-radius: 0 0 5px 5px;
                -khtml-border-radius: 0 0 5px 5px;
                -ms-border-radius: 0 0 5px 5px;
                border-radius: 0 0 5px 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -khtml-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                padding: 10px;
                position: relative;
                z-index: 2;
            }
            
            .smallTabs {display: block; padding-right: 5px;}
            .smallTabs li {float: right;}
            .smallTabs a {font-size: 14px; color: #222; padding: 3px 10px; display: block; text-decoration: underline;}
            .smallTabs a:hover {text-decoration: none;}
            .smallTabs .selected a {
                background: #8366a0;
                color: #fff;
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                text-decoration: none;
                -moz-border-radius: 5px 5px 0 0;
                -o-border-radius: 5px 5px 0 0;
                -khtml-border-radius: 5px 5px 0 0;
                -ms-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
            }
            
            
            .socialList li {margin-bottom: 10px;}
            .socialList img {display: inline-block; vertical-align: middle; margin-right: 10px;}
            
            .queries {float: right; width: 7750px; position: relative;}
            .queries li {float: right; /*margin-left: 20px;*/ width: 775px; text-align:right;}
            .queries li a {color: #ccc;}
            .queries li.current a {color: #333;}
            .queries li.current+li a {color: #666;}
            .queries li.current+li+li a {color: #999;}
			
			/* Buttons */
			.btn {
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                color: #fff;
                font-size: 16px;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
                border: 1px solid #d371a2;
                padding: 3px 10px;
                display: inline-block;
                float: right;
                vertical-align: center;
                background-color: #eb80b5;
                background: -moz-linear-gradient(top, #eb80b5, #ef308f);
                background: -webkit-gradient(linear, left top, left bottom, from(#eb80b5), to(#ef308f));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eb80b5', EndColorStr='#ef308f', GradientType=0);
                -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                -o-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                -khtml-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                line-height: 24px;
                margin-left: 20px;
            }
            .btn:hover, .btn:focus, .cbtn:hover, .cbtn:focus {
                text-decoration: none;
                border: 1px solid #333;
            }
            
            .btn_lrg {
                margin-top: 5px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -khtml-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                font-size: 18px;
                padding: 5px 15px;
                border: 1px solid #684090;
                background-color: #8e5dbf;
                background: -moz-linear-gradient(top, #8e5dbf, #3e126a);
                background: -webkit-gradient(linear, left top, left bottom, from(#8e5dbf), to(#3e126a));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#8e5dbf', EndColorStr='#3e126a', GradientType=0);
                -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                -o-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                -khtml-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                -ms-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                box-shadow: inset 0 1px 1px rgba(255,255,255,0.4), 0 1px 5px rgba(0,0,0,0.3);
                line-height: 26px;
            }
            
            .cbtn {
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                color: #fff;
                font-size: 14px;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
                border: 1px solid #d371a2;
                /*border: 1px solid #bbb;*/
                padding: 3px 10px 5px;
                display: inline-block;
                vertical-align: center;
                background-color: #eb80b5;
                background: -moz-linear-gradient(top, #eb80b5, #ef308f);
                background: -webkit-gradient(linear, left top, left bottom, from(#eb80b5), to(#ef308f));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eb80b5', EndColorStr='#ef308f', GradientType=0);
                /*background-color: #d4d1d2;
                background: -moz-linear-gradient(top, #d4d1d2, #a7a6a7);
                background: -webkit-gradient(linear, left top, left bottom, from(#d4d1d2), to(#a7a6a7));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#d4d1d2', EndColorStr='#a7a6a7', GradientType=0);*/
                -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                -o-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                -khtml-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                -ms-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 1px 5px rgba(0,0,0,0.1);
                line-height: 13px;
                float: left;
                margin-top: 10px;
            }
                .cbtn .icn {width: 16px; height: 16px; background-position: center; background-repeat: no-repeat; display: inline-block; vertical-align: middle;}
            .cbtn:hover {text-decoration: none;}
            .cbtn.previous {}
                .cbtn.previous .icn {float: left; margin-right: 3px; background-image: url(images/arrow_left.png);}
            .cbtn.next {float: right; width: 46px;}
                .cbtn.next .icn {float:right; margin-left: 3px; background-image: url(images/arrow_right.png);}
            
            .cbtn.wait {float: right; width: 46px;}
                .cbtn.wait .icn{float: right; margin-left: 3px; background-image: url(images/sml_loader.gif);}
                
            .btn.inactive, .cbtn.inactive {
            	border: 1px solid #bbb;
            	background-color: #d4d1d2;
                background: -moz-linear-gradient(top, #d4d1d2, #a7a6a7);
                background: -webkit-gradient(linear, left top, left bottom, from(#d4d1d2), to(#a7a6a7));
                filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#d4d1d2', EndColorStr='#a7a6a7', GradientType=0);
                cursor: default;
            }
            
            /* Images */
            .showItem {
                width: 150px;
                height: 84px;
                background: #fff;
                display: block;
                border: 5px solid #fff;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -khtml-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
                margin: 10px;
                position: relative;
                float: left;
                overflow: hidden;
            }
                .showItem img {display: block;}
                .showItem .caption {
                    background: #fff;
                    background: rgba(255,255,255,0.8);
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 5px;
                    line-height: 14px;
                }
                    .showItem.loading img,
                    .showItem.loading .caption {display: none;}
                    .showItem .caption .br {font-size: 14px; color: #ef308f;}
                    .showItem .caption .pub {font-style: italic; font-size: 12px; margin-left: 5px;}
                    .showItem .caption .ep {font-style: italic; font-size: 12px; display: block;}

            .show_lrg {
                width: 450px;
                height: 254px;
            }
                .show_lrg .caption {line-height: 18px;}
                .show_lrg .caption .br {font-size: 18px;}
                .show_lrg .caption .pub {font-size: 14px;}
                .show_lrg .caption .ep {font-size: 14px;}
                
            /* Projects */
            .project {width: 130px; margin: 10px; float: left;}
            .project img {
                display: block;
                width: 130px;
                height: 75px;
                background: #fff;
                border: 0 none;
                -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -khtml-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
            }
            
            .project:nth-child(5) {clear: left;}
                
            /* Grids */
            .line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" - - - - - M E T A B R O A D C A S T - - A T L A S A P I - - - - M E T A B R O A D C A S T - - A T L A S A P I - - - - M E T A B R O A D C A S T - - A T L A S A P I - - - - - ";}
            .line{*zoom:1;}
            .unit{float:left;}
            .size1of1{float:none;}
            .size1of2{width:50%;}
            .size1of3{width:33.33333%;}
            .size2of3{width:66.66666%;}
            .size1of4{width:25%;}
            .size3of4{width:75%;}
            .size1of5{width:20%;}
            .size2of5{width:40%;}
            .size3of5{width:60%;}
            .size4of5{width:80%;}
            .lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}
			
			.hr {margin-bottom: 10px; border-bottom: 1px solid rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 0 #fff;}
			h1.hr, h2.hr, h3.hr, h4.hr, h5.hr, h6.hr {
                padding-bottom: 10px;
            }
            
            /* Slideshow */
            .slideShow {
                margin: 30px 0 10px;
                background: #e7e7e7;
                padding: 10px 0;
                -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -khtml-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                -ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
            }
            
            .controlBar {padding: 0 10px;}
                .controlBar .queryHolder {
                    padding: 12px 20px;
                    overflow: hidden;
                    position: relative;
                }
                .controlBar .queryHolder:before,
                .controlBar .queryHolder:after {
                    content: "\00a0";
                    height: 30px; width: 12px;
                    position: absolute;
                    background: #efefef;
                    z-index: 5;
                }
                .controlBar .queryHolder:before {left: 0;-webkit-box-shadow: 10px 0 10px #efefef;}
                .controlBar .queryHolder:after {right: 0;-webkit-box-shadow: -10px 0 10px #efefef;}
            
            /* Hover */
            .hov {position: relative; color: #380b66;}
            .hov .hover {
                display: none;
                background: #fff;
                border: 5px solid #ccc;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -khtml-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                position: absolute;
                width: 150px;
                font-size: 12px;
                text-decoration: none;
                color: #222;
                padding: 3px;
                right: 50%;
                margin-right: -75px;
                bottom: 25px;
            }
                .hov .hover:after {
                    width: 10px;
                    height: 10px;
                    display: block;
                    background: #fff;
                    position: absolute;
                    bottom: -11px;
                    left: 75px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -khtml-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    content: "\00a0";
                    border-bottom: 5px solid #ccc;
                    border-right: 5px solid #ccc;
                    -moz-border-radius: 0 0 5px 0;
                    -o-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    -ms-border-radius: 5px;
                    border-radius: 0 0 5px 0;
                }
                .hov .hover .title {text-decoration: none; display: block; color: #380b66; font-size: 14px;}
                .hov .hover .body {}
            .hov:hover {cursor: pointer;}
            .hov:hover .hover {display: block;}
            .hov.js:hover .hover {display: none;}
            
            /* Forms */
            input[type=text] {
                width: 300px;
                height: 30px;
                padding: 0 5px;
                background: #f2f2f2;
                border: 1px solid #afafaf;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
            }
            input.date {
                width: 100px;
                float: left;
            }
            
            input.adv {width: 735px;}
            
            .ui-datepicker-trigger {float: left; display: block; margin-top: 5px; margin-left: 5px;}
            
            input[type=checkbox] {
                margin: 10px 0 0 10px;
            }
            
            label {
                font-size: 18px;
                line-height: 32px;
                display: block;
                color: #300060;
                width: 150px;
                float: left;
            }
            label.date {
                width: 90px;
                margin-right: 10px;
            }
            label.adv{width: 180px;}
            
            .select {
                position: relative;
                width: 290px;
                height: 28px;
                line-height: 30px;
                padding: 0 5px;
                background: #f2f2f2;
                border: 1px solid #afafaf;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                display: block;
                float: right;
            }
                .select .value {display: block; z-index: 9; position: relative; background: url(images/select.png) right bottom no-repeat;}
                .select .options {
                    display: none; 
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: 300px;
                    line-height: 30px;
                    padding: 28px 0 0;
                    background: #f2f2f2;
                    border: 1px solid #afafaf;
                    -moz-border-radius: 3px;
                    -o-border-radius: 3px;
                    -khtml-border-radius: 3px;
                    -ms-border-radius: 3px;
                    border-radius: 3px;
                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    -khtml-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                    z-index: 8;
                }
                    .select .option {
                        width: 140px;
                        display: block;
                        float: left;
                        padding: 2px 5px;
                        line-height: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                    .select .option.selected {background: #f5b3d4;}
                    .select .option:hover {color: #fff; background: #ef69ac;}
                .select:hover .options {display: block;}
                .select:hover .value {background-position: top right;}
                
            .urlCopy {
                position: relative;
                width: 490px;
                height: 28px;
                line-height: 30px;
                padding: 0 5px;
                background: #fff;
                border: 1px solid #afafaf;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -khtml-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                display: block;
                float: right;
            }
            
            /* Datepicker */
            .ui-datepicker {
                width: 199px;
                background: #efefef;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -khtml-border-radius: 5px;
                -ms-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                -o-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                -khtml-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            }
                .ui-datepicker-header {
                     -moz-border-radius: 5px 5px 0 0;
                    -o-border-radius: 5px 5px 0 0;
                    -khtml-border-radius: 5px 5px 0 0;
                    -ms-border-radius: 5px 5px 0 0;
                    border-radius: 5px 5px 0 0;
                    background: #ef69ac;
                    color: #fff;
                    font-size: 14px;
                    padding: 5px;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
                }
                    .ui-datepicker-title {font-weight: bold;}
                    .ui-datepicker-prev, .ui-datepicker-next {color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.2); cursor: pointer;}
                    .ui-datepicker-prev {float: left;}
                    .ui-datepicker-next {float: right;}
                    .ui-datepicker-prev:hover, .ui-datepicker-next:hover {color: #300060;}
                
                .ui-datepicker-calendar {
                    width: 189px;
                    margin: 5px;
                    text-align: center;
                }
                    .ui-datepicker-calendar td {padding-bottom: 4px; width: 27px;}
                    .ui-datepicker-calendar td a {line-height: 18px; display: block;}
                    .ui-datepicker-today a {text-decoration: underline;}
                    .ui-datepicker-current-day {
                        background: #8366A0;
                        -moz-border-radius: 3px;
                        -o-border-radius: 3px;
                        -khtml-border-radius: 3px;
                        -ms-border-radius: 3px;
                        border-radius: 3px;
                        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        -khtml-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        -ms-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
                        border-bottom: 1px solid #fff;
                    }
                        .ui-datepicker-current-day a {color: #fff; text-shadow: none;}
                        
            .loading {background-image: url(images/loader.gif); background-position: center; background-repeat: no-repeat;}
            
            .cb {clear:both;}
            .cl {clear: left;}
            .cr {clear: right;}
            .tr {text-align: right;}
            
            .fl {float: left;}
            .fn {float: none;}
            .fr {float: right;}
            
            .mtn {margin-top: 0;}
            .mts {margin-top: 5px;}
            .mtm {margin-top: 10px;}
            .mtl {margin-top: 20px;}
            .mrn {margin-right: 0;}
            .mrs {margin-right: 5px;}
            .mrm {margin-right: 10px;}
            .mrl {margin-right: 20px;}
            .mbn {margin-bottom: 0;}
            .mbs {margin-bottom: 5px;}
            .mbm {margin-bottom: 10px;}
            .mbl {margin-bottom: 20px;}
            .mln {margin-left: 0;}
            .mls {margin-left: 5px;}
            .mlm {margin-left: 10px;}
            .mll {margin-left: 20px;}