
*:first-child+html form .line {
  margin-bottom: 10px;
}

*:first-child+html input {
  height: 30px;
  line-height: 30px;
}

*:first-child+html .btn {
  height: 30px;
  line-height: 20px;
}

.legacy {
  input[type=text],
  input[type=number] {
    width: 290px;
    height: 30px;
    padding: 0 5px;
    background: #f2f2f2;
    border: 1px solid #afafaf;
    border-radius: 3px;
  }

  input[type=text]:focus {
    outline: none;
    border: 1px solid #EF308F;
  }

  input.date {
    width: 100px;
    float: left;
  }

  input.adv {
    width: 600px;
    margin-right: 10px;
  }

  .ui-datepicker-trigger {
    float: left;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
  }

  input[type=checkbox] {
    margin: 10px 0 0 10px;
  }

  label {
    font-size: 18px;
    line-height: 32px;
    display: block;
    color: #300060;
    width: 150px;
    float: left;
  }

  *:first-child+html label {
    width: 140px;
  }

  label.date {
    width: 70px;
    margin-right: 10px;
  }

  *:first-child+html label.date {
    width: 60px;
  }

  label.adv{
    width: 270px;
  }

  .select {
    position: relative;
    width: 290px;
    height: 28px;
    line-height: 30px;
    padding: 0 5px;
    background: #f2f2f2;
    border: 1px solid #afafaf;
    border-radius: 3px;
    display: block;
  }

  .select:hover {
    z-index: 15;
  }

  .select .value {display: block;
    z-index: 9;
    position: relative;
    background: url(../images/select.png) right bottom no-repeat;
  }

  .select .options {
    display: none;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 300px;
    line-height: 30px;
    padding: 28px 0 0;
    background: #f2f2f2;
    border: 1px solid #afafaf;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    z-index: 8;
  }

  .select .option {
    width: 140px;
    display: block;
    float: left;
    padding: 2px 5px;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
  }

  .select .option.selected {
    background: #f5b3d4;
  }

  .select .option:hover {
    color: #fff;
    background: #ef69ac;
  }

  .select:hover .options {
    display: block;
  }

  .select:hover .value {
    background-position: top right;
  }

  .urlCopy {
    position: relative;
    line-height: 30px;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #afafaf;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
  }

  *:first-child+html .urlCopy {
    z-index: -1;
  }

  .urlCopy .urlTxt {
    margin-right: 25px;
    display: block;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    text-transform: none;
    background: #fff;
    border: 0 none;
    padding: 0 none;
    width: 95%;
  }

  .urlCopy .urlTxt:focus {
    border: 0 none;
  }

  .btnCopy {
    display: block;
    float: right;
    margin-top: 5px;
    width: 21px; height: 21px;
    background: url(../images/copy.gif) center no-repeat;
  }

  .urlCopy embed {
    position: absolute;
    top: 0;
  }

  .line.urlCopy {
    background: none;
    border: 0 none;
    padding: 0;
    margin: 0;
  }

  .ui-datepicker {
    width: 199px;
    background: #efefef;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    z-index: 100 !important;
  }

  .ui-datepicker-header {
    border-radius: 5px 5px 0 0;
    background: #ef69ac;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }

  .ui-datepicker-title {
    font-weight: bold;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .ui-datepicker-prev {
    float: left;
  }

  .ui-datepicker-next {
    float: right;
  }

  .ui-datepicker-prev:hover,
  .ui-datepicker-next:hover {
    color: #300060;
  }

  .ui-datepicker-calendar {
    width: 189px;
    margin: 5px;
    text-align: center;
  }

  .ui-datepicker-calendar td {
    padding-bottom: 4px;
    width: 27px;
  }

  .ui-datepicker-calendar td a {
    line-height: 18px;
    display: block;
  }

  .ui-datepicker-today a {
    text-decoration: underline;
  }

  .ui-datepicker-current-day {
    background: #8366A0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    border-bottom: 1px solid #fff;
  }

  .ui-datepicker-current-day a {
    color: #fff;
    text-shadow: none;
  }

  .loading {
    background-image: url(../images/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
  }

  .apiKeyHolder ul strong {
    color: #ef308f;
  }

  .getApiKey {
    height: 305px;
    padding-top: 30px;
  }

  .getApiKeyInner {
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
  }

  .getApiKeyBtnHolder {
    text-align: right;
  }

  .getApiKeyBtn {
    margin: 0 auto;
    float: none;
    font-size: 20px;
    line-height: 30px;
  }

  input.full-width-input {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
  }
}
