.clientList {
  margin-bottom: 20px;
}

.clientList li {
  float: left;
  margin: 0 6px;
}

.clientLogo {
  display: inline-block;
  width: 93px;
  height: 30px;
  opacity: 0.6;
  background-image: url(../images/clients/client-logo-sprite.png);
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.amazon-prime-instant-video-logo { background-position: 0px 0px; }
.android-logo { background-position: -93px 0px; }
.apple-logo { background-position: -186px 0px; }
.barb-logo { background-position: -279px 0px; }
.bbc-logo { background-position: -372px 0px; }
.belfast-telegraph-logo { background-position: -465px 0px; }
.bloomberg-logo { background-position: -558px 0px; }
.bt-logo { background-position: -651px 0px; }
.channel4-logo { background-position: -744px 0px; }
.channel5-logo { background-position: -837px 0px; }
.daily-mail-logo { background-position: -930px 0px; }
.echonest-logo { background-position: -1023px 0px; }
.facebook-logo { background-position: -1116px 0px; }
.flickr-logo { background-position: -1209px 0px; }
.freebase-logo { background-position: -1302px 0px; }
.getty-images-logo { background-position: -1395px 0px; }
.global-radio-logo { background-position: -1488px 0px; }
.google-logo { background-position: -1581px 0px; }
.insidesoap-logo { background-position: -1674px 0px; }
.irish-independent-logo { background-position: -1767px 0px; }
.itv-logo { background-position: -1860px 0px; }
.iva-logo { background-position: -1953px 0px; }
.knowledgemotion-logo { background-position: -2046px 0px; }
.lionsgate-logo { background-position: -2139px 0px; }
.msn-logo { background-position: -2232px 0px; }
.musicbrainz-logo { background-position: -2325px 0px; }
.netflix-logo { background-position: -2418px 0px; }
.opta-logo { background-position: -2511px 0px; }
.pagesuite-logo { background-position: -2604px 0px; }
.press-association-logo { background-position: -2697px 0px; }
.radio-times-logo { background-position: -2790px 0px; }
.radioplayer-logo { background-position: -2883px 0px; }
.rdio-logo { background-position: -2976px 0px; }
.rightster-logo { background-position: -3069px 0px; }
.rte-logo { background-position: -3162px 0px; }
.soundcloud-logo { background-position: -3255px 0px; }
.spotify-logo { background-position: -3348px 0px; }
.talktalk-logo { background-position: -3441px 0px; }
.ted-logo { background-position: -3534px 0px; }
.the-space-logo { background-position: -3627px 0px; }
.the-sun-logo { background-position: -3720px 0px; }
.tv-choice-logo { background-position: -3813px 0px; }
.twitter-logo { background-position: -3906px 0px; }
.uktv-logo { background-position: -3999px 0px; }
.universal-logo { background-position: -4092px 0px; }
.vimeo-logo { background-position: -4185px 0px; }
.wikipedia-logo { background-position: -4278px 0px; }
.xbox-logo { background-position: -4371px 0px; }
.youtube-logo { background-position: -4464px 0px; }
.youview-logo { background-position: -4557px 0px; }
