/* Panel styles */
.widget-panel {
  overflow: hidden;
}

.widget-programme-image {
  display: block;
}

.widget-programme-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 10px;
  background: rgb(51,0,102);
  background: rgba(51,0,102, 0.75);
  color: rgb(255,255,255);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.widget-programme-info a {
  color: rgb(255,0,154);
  text-decoration: none;
}

.widget-programme-info-inner {
  margin: 0 0 10px;
}

.widget-programme-details {
  float: left;
  width: 74%;
}

.widget-programme-start-time {
  margin-bottom: 3px;
  color: rgb(255,0,154);
  margin-left: 0;
}

.widget-programme-title {
  font-size: 18px;
  line-height: 1.1;
  padding-bottom: 3px;
  font-weight: bold;
}

.widget-programme-start-time,
.widget-programme-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.widget-channel-logo {
  float: right;
  width: auto;
  height: 43px;
}

/* Carousel specific styles */
#carousel-widget-container {
  position: relative;
  width: 459px;
  height: 258px;
}

.fullscreen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 300;
}

.carousel {
  position: relative;
  width: 459px;
  height: 258px;
}

.carousel .widget-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 459px;
  height: 258px;
}

.carousel .widget-programme-image {
  width: 459px;
  height: 258px;
}

.carousel .widget-programme-info {
  bottom: -42px;
}

.carousel .widget-panel:hover .widget-programme-info {
  bottom: 0;
}

.carousel .widget-api-call a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  background: rgb(255,255,255);
  border-radius: 5px;
}

/* Fullscreen specific styles */
.fullscreen-container .widget-panel-container {
  position: relative;
  float: left;
  width: 33.33%;
}

.fullscreen-container .widget-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.fullscreen-container .widget-programme-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-container .widget-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-container .widget-panel-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.fullscreen-widget-container {
  display: none;
}

.fullscreen-widget-container:-webkit-full-screen {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(51,0,102);
  margin: 0 !important;
}

.fullscreen-widget-container:-moz-full-screen {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(51,0,102);
  margin: 0 !important;
}

.fullscreen-widget-container:-ms-fullscreen {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(51,0,102);
  margin: 0 !important;
}

.fullscreen-widget-container:full-screen {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(51,0,102);
  margin: 0 !important;
}

.fullscreen-widget-container:fullscreen {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(51,0,102);
  margin: 0 !important;
}
