$primary-color: #ff009a !default;
$secondary-color: #306 !default;

$primary-text-color: #333 !default;

$primary-bg-color: #fff !default;
$secondary-bg-color: $secondary-color !default;

$font-family: "Open Sans", sans-serif !default;
$header-font-family: 'Josefin Slab', Helvetica, sans-serif !default;
$secondary-header-font-family: 'Raleway', Helvetica, sans-serif !default;

$base-font-size: 100% !default;
$h1-size: 2.812rem !default;
$h2-size: 2.187rem !default;
$h3-size: 1.575rem !default;
$h4-size: 1.242rem !default;
$h5-size: 1.242rem !default;
$h6-size: 1.242rem !default;

$base-line-height: 1.4 !default;

$border-radius: 5px !default;

$small-space: .333rem !default;
$medium-space: .769rem !default;
$large-space: 1.4rem !default;
