.api-docs-annotations {
  overflow: hidden;
  list-style: none;
  margin-bottom: 20px;
}

.api-docs-annotations li {
  float: left;
  width: 25%;
}

.open-api-docs-tab {
  color: #ef308f;
  box-shadow: none;
}
