.api-docs-panel {
  display: none;
}

.api-docs-panel:first-child {
  display: block;
}

.api-docs-nav a {
  display: block;
  padding: 5px;
}

.api-docs-nav .active-panel {
  background: #8e5dbf;
  color: #fff;
  text-shadow: none;
}
