.site-header {
  position: fixed;
  width: 100%;
  background: #efefef;
  background: rgba(239,239,239,0.95);
  box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2);
  z-index: 450;
  font-size: 16px;
}

.site-logo {
  float: left;
  position: relative;
  height: 4rem;
  line-height: 4rem;
}

.site-logo img {
  vertical-align: middle;
}
