.list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.list li {
  padding-left: 20px;
  background:url(../images/bullet.gif) 0 10px no-repeat;
  font-size: 14px;
  line-height: 24px;
}
