#msgs {
  font-size: 14px;
  position: absolute;
  top: 58px;
  right: 0;
  background: rgba(239,239,239,0.95);
  border-left: 1px solid #EF308F;
  border-bottom: 1px solid #EF308F;
  border-right: 1px solid #EF308F;
  z-index: 20;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-shadow: 0 1px 0 #fff;
}

*:first-child+html #msgs {
  top: 57px;
}

.success {
  border-color: #c3e8c4;
  background: #d5f5d6;
}

.error {
  border-color: #e8c3c3;
  background: #f5d5d5;
}
