/* Client logos */
.clientList {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.clientList li {
  float: left;
  margin: 0 6px;
}

.clientLogo {
  display: inline-block;
  width: 93px;
  height: 30px;
  opacity: 0.6;
  background-image: url(../images/clients/client-logo-sprite-bw.png);
  background-repeat: no-repeat;
}

.amazon-logo {
  background-position: 0 0;
}

.apple-logo {
  background-position: 0 -80px;
}

.bbc-logo {
  background-position: 0 -160px;
}

.belfast-telegraph-logo {
  background-position: 0 -240px;
}

.bloomberg-logo {
  background-position: 0 -320px;
}

.bt-logo {
  background-position: 0 -400px;
}

.channel4-logo {
  background-position: 0 -480px;
}

.channel5-logo {
  background-position: 0 -560px;
}

.daily-mail-logo {
  background-position: 0 -640px;
}

.echonest-logo {
  background-position: 0 -720px;
}

.facebook-logo {
  background-position: 0 -800px;
}

.freebase-logo {
  background-position: 0 -880px;
}

.getty-images-logo {
  background-position: 0 -960px;
}

.google-logo {
  background-position: 0 -1040px;
}

.insidesoap-logo {
  background-position: 0 -1120px;
}

.irish-independent-logo {
  background-position: 0 -1200px;
}

.itv-logo {
  background-position: 0 -1280px;
}

.musicbrainz-logo {
  background-position: 0 -1360px;
}

.opta-logo {
  background-position: 0 -1440px;
}

.pagesuite-logo {
  background-position: 0 -1520px;
}

.press-association-logo {
  background-position: 0 -1600px;
}

.radio-times-logo {
  background-position: 0 -1680px;
}

.radioplayer-logo {
  background-position: 0 -1760px;
}

.rte-logo {
  background-position: 0 -1840px;
}

.soundcloud-logo {
  background-position: 0 -1920px;
}

.spotify-logo {
  background-position: 0 -2000px;
}

.talktalk-logo {
  background-position: 0 -2080px;
}

.the-sun-logo {
  background-position: 0 -2160px;
}

.tv-choice-logo {
  background-position: 0 -2240px;
}

.twitter-logo {
  background-position: 0 -2320px;
}

.uktv-logo {
  background-position: 0 -2400px;
}

.vimeo-logo {
  background-position: 0 -2480px;
}

.wikipedia-logo {
  background-position: 0 -2560px;
}

.xbox-logo {
  background-position: 0 -2640px;
}

.youtube-logo {
  background-position: 0 -2720px;
}

.youview-logo {
  background-position: 0 -2800px;
}
