/* Images */
.showItem {
  width: 150px;
  height: 84px;
  background: #fff;
  display: block;
  border: 5px solid #ccc;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
}

.boxshadow .showItem {
  border-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -khtml-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.showItem:hover {
  text-decoration: none;
}

.showItem img {
  display: inline-block;
  height: 100%;
}

.showItem .caption {
  background: #fff;
  filter: alpha(opacity=80);
  background: rgba(255,255,255,0.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  line-height: 14px;
  height: 12px;
  -moz-transition: height ease-out 0.5s;
  -webkit-transition: height ease-out 0.5s;
  text-align: left;
}

.showItem:hover .caption {
  height: 74px;
}

.showItem.loading img,
.showItem .caption .br {
  font-size: 14px;
  color: #ef308f;
  margin-right: 5px;
  text-shadow: none;
}

.showItem .caption .pub {
  font-style: italic;
  font-size: 12px;
  color: #222;
}

.showItem .caption .ep {
  font-style: italic;
  font-size: 12px;
  display: block;
  color: #222;
}

.show_lrg {
  width: 450px;
  height: 253px;
  background: #fff url(../images/missingImage.png) center no-repeat;
}

.show_lrg .caption {
  height: 27px;
}

.show_lrg .caption .br {
  font-size: 18px;
  line-height: 30px;
}

.show_lrg .caption .pub {
  font-size: 14px;
}

.show_lrg .caption .ep {
  font-size: 14px;
}
