/* Lists */
.list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.list li {
  padding-left: 20px;
  background: url(../images/bullet.gif) 0 10px no-repeat;
  font-size: 14px;
  line-height: 24px;
}

nav {
  float: left;
  margin-left: 10px;
}

.mainMenu {
  list-style-type: none;
  font-size: 22px;
  margin-top: 23px;
  line-height: 28px;
  float: left;
}

.mainMenu li {
  float: left;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
}

.mainMenu li:first-child {
  border-left: 0;
}

.mainMenu li:last-child {
  border-right: 0;
}

.mainMenu li a {
  color: #333;
  padding: 0 20px 5px;
  display: block;
  position: relative;
  bottom: -1px;
}

.mainMenu li a:hover {
  color: #ef308f;
  text-decoration: none;
}

.mainMenu li a.selected {
  color: #ef308f;
  background: url(../images/selected.gif) bottom center no-repeat;
}

.subNav {
  font-size: 16px;
  float: left;
  position: fixed;
  top: 68px;
  background: #efefef;
  background: rgba(239,239,239,0.95);
  border-left: 1px solid #EF308F;
  border-bottom: 1px solid #EF308F;
  border-right: 1px solid #EF308F;
  z-index: 20;
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.subNav li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
}

.subNav li:first-child {
  border-left: 0;
  padding-left: 0;
}

.subNav li:last-child {
  border-right: 0;
  padding-right: 0;
}

.subNav li:first-child {
  margin-left: 0;
}

.subNav li a {
  float: left;
  display: block;
  padding: 5px 0;
  color: #333;
}

.subNav li a.selected {
  color: #ef308f;
  background: url(../images/selected.gif) bottom center no-repeat;
}

.tabs {
  background: #e2e2e2;
  list-style: none;
  float: left;
  border-radius: 5px 5px 0 0;
  height: 40px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
}

.tabs li {
  float: left;
}

.tabs li a {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  color: #333;
  display: block;
}

.tabs li:first-child a {
  border-radius: 5px 0 0 0;
}

.tabs li:last-child a {
  border-radius: 0 5px 0 0;
}

.tabs li a:hover {
  text-decoration: none;
  color: #ef308f;
}

.tabs li.selected a {
  background: #fff;
  color: #ef308f;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.tabExt {
  float: right;
  color: #fff;
  background: #b5a7c4;
  height: 30px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  line-height: 20px;
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
}

.tabExt.selected {
  background: #fff;
  color: #ef308f;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.tabExt.selected:hover {
  text-decoration: none;
}

.tabArea {
  clear: both;
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  padding: 10px;
  position: relative;
}

.resultsArea {
  position: relative;
  overflow-x: hidden;
  text-transform: none;
}

.resultsArea .preview {
  max-height: 114px;
  overflow-y: hidden;
  position: relative;
}

.resultsArea .pageNumber {
  float: right;
  width: 80px;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  font-size: 12px;
  color: #666;
}

*:first-child+html .resultsArea {
  position: relative;
  display: block;
  overflow: hidden;
}

*:first-child+html .output {
  margin-top: 10px;
}

.smallTabs {
  display: block;
  padding-right: 5px;
}

.smallTabs li {
  float: right;
}

.smallTabs a {
  font-size: 14px;
  color: #222;
  padding: 3px 10px;
  display: block;
  text-decoration: underline;
}

.smallTabs a:hover {
  text-decoration: none;
}

.smallTabs .subTab a {
  cursor: default;
}

.smallTabs .selected a {
  background: #8366a0;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 5px 5px 0 0;
}

.smallTabs .other {
  margin-top: 3px;
}

.socialList {
  list-style: none;
}

.socialList li {
  margin: 0 20px 10px 0;
  float: left;
}

.media {
  display: block;
}

.media .img {
  display: block;
  float: left;
  margin-right: 10px;
}

.media .bd {
  display: table-cell;
  line-height: 32px;
  font-size: 15px;
}

.queries {
  float: left;
  width: 38750px;
  position: relative;
}

.queries .query {
  color: #333;
  position: relative;
  float: left;
  width: 743px;
  text-align: right;
}
