<h4>Response reference</h4>

<% if (this.description) { %>
  <p><%= this.description %></p>
<% } %>

<table class="tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0, ii = this.fields.length; i < ii; i++) { %>
      <tr>
        <td><%= this.fields[i].name %></td>
        <td><%= this.fields[i].json_type %></td>
      </tr>
    <% } %>
  </tbody>
</table>
