<h4>Response</h4>

<% if (this.description) { %>
  <p><%= this.description %></p>
<% } %>

<% for (var i = 0, ii = this.fields.length; i < ii; i++) { %>
  <ul class="list">
    <li>Name: <%= this.fields[i].name %></li>
    <% if (this.fields[i].description) { %>
      <li>Description: <%= this.fields[i].description %></li>
    <% } %>
    <li>Type: <%= this.fields[i].json_type %></li>
  </ul>
<% } %>
