<pre class="jsonOutput"></pre>
<p><input class="api-docs-example-call full-width-input" type="text" name="example-api-call" value=""></p>
<p><a class="btn open-api-explorer-tab" href="#api-<%= this.name %>">Use in API Explorer</a></p>
