<select id="user-api-keys">
  <option value="">Pick an API key</option>
  <% for (var i = 0, ii = this.length; i < ii; i++) { %>
    <option value="<%= this[i].credentials.apiKey %>"><%= this[i].title %></option>
  <% } %>
</select>