<% if (this.applications) { %>
<a href="#">Apps</a>
<ul class="apps-dropdown dropdown">
  <% for (var i = 0; i < 3; i++) { %>
    <li><a href="/admin?#/applications/<%= this.applications[i].id %>"><%= this.applications[i].title %> <%= this.applications[i].credentials.apiKey %></a></li>
  <% } %>
  <li><a href="/admin?#/applications">More&hellip;</a></li>
  <li><a href="/admin?#/wishlist">Wishlist</a></li>
</ul>
<% } %>
