<a href="#">Apps</a>
<ul class="apps-dropdown dropdown-menu dropdown-menu-large">
  <% if (this.applications.length) { %>
    <% for (var i = 0; i < 3; i++) { %>
      <li>
        <a href="/admin?#/applications/<%= this.applications[i].id %>">
          <strong><%= this.applications[i].title %>:</strong>
          <%= this.applications[i].credentials.apiKey %>
        </a>
      </li>
    <% } %>
  <% } %>
  <li><a href="/admin?#/applications">All applications&hellip;</a></li>
  <li><a href="/admin?#/wishlist">Wishlist</a></li>
</ul>
