<tr class="channel-picker-row">
  <td colspan="4">
     <div class="clearfix">
      <div class="popular-channels">
        <h4>popular channels</h4>
        <label title="BBC One (hkqs)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkqs"> BBC One (hkqs)</label>
        <label title="BBC Two (hkrh)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrh"> BBC Two (hkrh)</label>
        <label title="BBC Three (hkrq)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrq"> BBC Three (hkrq)</label>
        <label title="BBC One HD (hkrr)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrr"> BBC Four (hkrr)</label>
        <label title="BBC One HD (hkqz)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkqz"> BBC One HD (hkqz)</label>
        <label title="CBBC (hkrx)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrx"> CBBC (hkrx)</label>
        <label title="BBC Radio 1 (hkth)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkth"> BBC Radio 1 (hkth)</label>
        <label title="BBC Radio 2 (hktk)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hktk"> BBC Radio 2 (hktk)</label>
      </div>
      <div class="pickers">
        <div class="platform-picker" id="platform-picker"></div>
        <div class="region-picker" id="region-picker"></div>
      </div>
    </div>
    <div class="channels-container mtl"></div>
  </td>
</tr>
