<tr class="channel-picker-row">
  <td colspan="4">
     <div class="clearfix">
      <div class="popular-channels">
        <div class="clearfix"><label>popular channels</label></div>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkqs"> BBC One (hkqs)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkrh">  BBC Two (hkrh)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkrq">  BBC Three (hkrq)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkrr">  BBC Four (hkrr)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkqz">  BBC One HD (hkqz)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkrx">  CBBC (hkrx)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hkth">  BBC Radio 1 (hkth)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="hktk">  BBC Radio 2 (hktk)</label>
      </div>
      <div class="pickers">
        <div class="platform-picker" id="platform-picker"></div>
        <div class="region-picker" id="region-picker"></div>
      </div>
      <div class="channels-container"></div>
    </div>
  </td>
</tr>
