<tr class="channel-picker-row">
  <td colspan="4">
     <div class="clearfix">
      <div class="popular-channels">
        <div class="clearfix"><label>popular channels</label></div>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbh"> cbbh (BBC One)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbG"> cbbG (BBC Two)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbP"> cbbP (BBC Three)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbQ"> cbbQ (BBC Four)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbV"> cbbV (BBC HD)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbW"> cbbW (CBBC)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcQ"> cbcQ (BBC Radio 1)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcS"> cbcS (BBC Radio 2)</label>
      </div>
      <div class="pickers">
        <div class="platform-picker" id="platform-picker"></div>
        <div class="region-picker" id="region-picker"></div>
      </div>
      <div class="channels-container"></div>
    </div>
  </td>
</tr>
