<% for (var i = 0, ii = this.length; i < ii; i++) { %>
    <label><input class="channel-picker-radio" type="radio" name="channel-id" value="<%= this[i].deer_id %>"> <%= this[i].channel.title %> (<%= this[i].deer_id %>)</label>
<% } %>
