<tr class="channel-picker-row">
  <td colspan="4">
     <div class="clearfix">
      <div class="popular-channels">
        <div class="clearfix"><label>popular channels</label></div>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbh"> BBC One (cbbh)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbG">  BBC Two (cbbG)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbP">  BBC Three (cbbP)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbQ">  BBC Four (cbbQ)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbV">  BBC HD (cbbV)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbW">  CBBC (cbbW)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcQ">  BBC Radio 1 (cbcQ)</label>
        <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcS">  BBC Radio 2 (cbcS)</label>
      </div>
      <div class="pickers">
        <div class="platform-picker" id="platform-picker"></div>
        <div class="region-picker" id="region-picker"></div>
      </div>
      <div class="channels-container"></div>
    </div>
  </td>
</tr>
