<a href="#">Content</a>
<ul class="content-dropdown submenu">
  <% for (var i = 0, ii = this.length; i < ii; i++) { %>
    <li>
      <% if (this[i].name === 'BTBlackout') { %>
        <a href="/admin?#/epg/bt-tv">EPG</a>
      <% } %>
      <% if (this[i].name === 'BBC-YV-Feed') { %>
        <a href="/admin?#/feeds">Feeds</a>
      <% } %>
      <% if (this[i].name === 'BBC-Scrubbables') { %>
        <a href="/admin?#/scrubbables">Scrubbables</a>
      <% } %>
    </li>
  <% } %>
</ul>
