<a href="#">Content</a>
<ul class="content-dropdown dropdown-menu">
  <% if (this.length) { %>
    <% for (var i = 0, ii = this.length; i < ii; i++) { %>
      <li><%= this[i].name %></li>
    <% } %>
  <% } %>
</ul>
