<div class="container">
  <a class="site-logo" href="/"><img src="assets/images/logo.png" alt="Atlas"></a>

  <ul class="site-nav nav">
    <li><a href="#widgets">widgets</a></li>
    <li><a href="#examples">examples</a></li>
    <li><a href="#reference">reference</a></li>
    <li><a href="#about">about</a></li>
  </ul>

  <a class="btn btn_lrg" href="#apiExplorer">
    <span class="icn_mag"></span>
    api explorer &amp; free key
  </a>

  <a class="getApiKeyBtn" href="#">Log in</a>
</div>
