<a class="navbar-api-explorer-btn btn btn_lrg" href="#apiExplorer">
  <span class="icn_mag"></span>
  api explorer &amp; free key
</a>
<div class="navbar-user">
  <a class="navbar-login getApiKeyBtn" href="#">Log in</a>
</div>
