<a class="navbar-api-explorer-btn btn" href="#apiExplorer">api explorer</a>
<div class="navbar-user logged-in">
  <div class="user-avatar">
    <img class="profile-picture" src="<%= this.user.profile_image %>" alt="<%= this.user.full_name %>">
    <span class="user-name"><%= this.user.full_name %></span>
  </div>
  <ul class="user-dropdown-menu hide">
    <li><a href="/admin?#/profile">your profile</a></li>
    <li><a href="/admin?#/terms">terms of use</a></li>
    <li><a class="logout" href="#">log out</a></li>
  </ul>
</div>

<ul>
  <li id="apps-menu"></li>
  <li id="content-menu"></li>
  <li id="admin-menu"></li>
</ul>
