<a class="user-menu-link" href="#">Admin</a>
<ul class="admin-dropdown submenu">
  <li><a href="/admin?#/manage/sources">Sources</a></li>
  <li><a href="/admin?#/manage/requests">Requests</a></li>
  <li><a href="/admin?#/manage/users">Users</a></li>
  <li><a href="/admin?#/manage/usage">Usage</a></li>
  <li><a href="/admin?#/manage/wishlist">Wishlist</a></li>
</ul>
