<tr class="channel-picker-row">
  <td colspan="4">
     <div class="clearfix">
      <div class="pickers">
        <div class="platform-picker"></div>
        <div class="region-picker"></div>
        <div class="channel-search"></div>
      </div>
      <div class="popular-channels">
        <h4>choose from popular channels</h4>
        <label title="BBC1 (hkqs)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkqs"> BBC1 (hkqs)</label>
        <label title="BBC2 (hkrh)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrh"> BBC2 (hkrh)</label>
        <label title="ITV (hkvp)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkvp"> ITV (hkvp)</label>
        <label title="Channel 4 (hkvb)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkvb"> Channel 4 (hkvb)</label>
        <label title="Channel 5 (hkvh)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkvh"> Channel 5 (hkvh)</label>
        <label title="BBC3 (hkrq)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrq"> BBC3 (hkrq)</label>
        <label title="BBC4 (hkrr)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkrr"> BBC4 (hkrr)</label>
        <label title="ITV3 (hkwk)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkwk"> ITV3 (hkwk)</label>
        <label title="ITV4 (hkwn)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkwn"> ITV4 (hkwn)</label>
        <label title="5 USA (hkvn)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkvn"> 5 USA (hkvn)</label>
        <label title="5* (hkvm)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkvm"> 5* (hkvm)</label>
        <label title="BBC Radio 1 (hkth)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hkth"> BBC Radio 1 (hkth)</label>
        <label title="BBC Radio 2 (hktk)"><input class="channel-picker-checkbox" type="checkbox" name="channel-id" value="hktk"> BBC Radio 2 (hktk)</label>
        <a class="fr btn close-channel-picker" href="#">&times; close</a>
      </div>
    </div>
    <div class="channels-container mtl"></div>
    <div class="clearfix"><a class="fr btn close-channel-picker" href="#">&times; close</a></div>
  </td>
</tr>
