<a class="user-menu-link" href="#">Content</a>
<ul class="content-dropdown submenu">
  <% for (var i = 0, ii = this.length; i < ii; i++) { %>
    <li>
      <% if (this[i].name === 'BTBlackout') { %>
        <a href="https://shaman.metabroadcast.com/blackouts">EPG</a>
      <% } %>
      <% if (this[i].name === 'BBC-YV-Feed') { %>
        <a href="https://columbus.metabroadcast.com/bbc-youview-feed/">Feeds</a>
      <% } %>
    </li>
  <% } %>
</ul>
