/* Tables */
.tbl {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  text-transform: none;
}

.tbl thead {
  border-bottom: 1px solid #ccc;
}

.tbl thead tr {
  border: 1px solid #684090;
  background-color: #8e5dbf;
  background: -moz-linear-gradient(top, #8e5dbf, #3e126a);
  background: -webkit-gradient(linear, left top, left bottom, from(#8e5dbf), to(#3e126a));
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
}

.tbl thead th {
  padding: 3px 5px 5px;
  color: #fff;
  font-size: 16px;
  border-right: 1px solid #8e5dbf;
  border-left: 1px solid #684090;
}

.tbl tbody {
  border-bottom: 1px solid #684090;
}

.tbl tbody td {
  padding: 5px 5px;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #8e5dbf;
  border-left: 1px solid #684090;
}

th.first,
td.first {
  width: 200px;
}

th.second,
td.second {
  width: 362px;
}

th.fourth,
td.fourth {
  width: 290px;
}

tr:nth-child(even) {
  background: #F2EDF8;
}
